<div class="todobox">
  <p> Task: <%= todo.description %> </p>
  <p> Check the item here: <%= link_to todo.description, todo_path(todo.id) %> </p>
  <p> <%= link_to "", todo, method: :delete, class: 'glyphicon glyphicon-ok', remote: true %>
  Days left to finish this item: <%= todo.days_left %> </p>
  </br>
  </p>
</div>
</br>
